<%= link_to "Home", root_path %>
<!-- # => <a href="/">Home Icon</a> -->

<div class="container">

  <div class="">
    <h1>Kōrero Mai</h1>
  </div>
  <div className='sub-heading'>
    <h3>Learn Te Reo!</h3>
  </div>
  <div>
    <%= button_to "Play!",letters_path, :method => :get %>
  </div>
  
</div>
