<p id="notice"><%= notice %></p>

<div class="container text-center">

  <audio id="letter-sound" src="/a.mp3">
    Your browser does not support the <code>audio</code> element.
  </audio>

  <button id="letter-button" type="button" class="btn btn-default btn-lg" onclick="play('letter-sound')">
    <%= @letter.name %>
  </button>



</div>
